/**********************
 *	Main Element Styles
 **/

html {
	position: relative;
	min-height: 100%;
}

body, .layout {
	display: block;
	margin: 0;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
	font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #353535;
}

body {
	margin-bottom: $footer-height;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.layout {
    padding-left: $menu-width;
}

/**********************
 *	Headings
 **/

.heading-base {
	font-weight: 300;
	margin: 0 0 1rem 0;
}

.app h1 {
	@extend .heading-base;
	font-size: 3rem;
}
.app h2 {
	@extend .heading-base;
	font-size: 2.2rem;
}
.app h3 {
	@extend .heading-base;
	font-size: 1.7rem;
}
.app h4 {
	@extend .heading-base;
	font-size: 1.2rem;
}

/**********************
 *	Content
 **/

.app .content-heading {
	padding: $content-padding;
	background-color: #eee;
	text-align: center;
}

.app .content-body {
	padding: $content-padding;
}

/**********************
 *	Labels
 **/

.app label {
	font-weight: 400;
	font-size: 1.2rem;
}

/**********************
 *	Panels
 **/

.app .panel {
	background-color: $background-color-primary;
	color: white;
	font-weight: 300;
	border-top: $accent-color-border-width solid $accent-color-1;
	margin: 1rem;
}

.app .panel .panel-body {
	padding: $content-padding;
}

.app .panel .pure-button {
	background-color: $accent-color-1;
	color: white;
}


.app .panel-2 {
	background-color: $background-color-secondary;
	color: $background-color-primary;
	font-weight: 300;
	border-top: $accent-color-border-width solid $accent-color-2;
	margin: 1rem;
}

.app .panel-2 .panel-body {
	padding: $content-padding;
}

.app .panel-2 .pure-button {
	background-color: $accent-color-2;
	color: white;
}

/**********************
 *	Buttons
 **/

.button-dark {
	background-color: #333333;
	color: white;
}

.button-light {
	background-color: white;
	color: #333;
}

.button-3 {
	background-color: $accent-color-3;
	color: white;
}

/**********************
 *	Links
 **/

a.link-dark{
	color: #9B9B9B;
	text-decoration: none;
	border-bottom: 0px solid white;
	transition: border-bottom-width .2s ease;
	&:hover {
		color: white;
		/*border-bottom: 2px solid white;*/
		transition: all .2s ease;
	}
}