/**
 *	Colors
 */

$background-color-primary: #333333;
$background-color-secondary: #EEEEEE;

// Accent colors
// Accent colors are colors vivid colors that are used mainly
// for a splash of color across the app.
$accent-color-1: #0FBE7C;
$accent-color-2: #216AEF;
$accent-color-3: #7132F0;

/**
 *	Sizes
 */

$menu-width: 180px;
$content-padding: 2rem;
$footer-height: 150px;

$accent-color-border-width: 4px;