.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: $background-color-primary;
	color: white;
	height: $footer-height;
	display: block;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: $menu-width;
    width: 100%;

    border-top: $accent-color-border-width solid $accent-color-3;
}

.footer p {
	font-size: .8rem;
}