<div class="footer clearfix">
	<div class="content-body">
		<p>This site was developed and designed by myself. You can view the <a class="link-dark" href="https://bitbucket.org/jcarroll2007/jordancarroll.me/src">source code</a> on BitBucket.</p>
		<p>&copy; JC Technologies, LLC 2015</p>
	</div>
</div>