body, .app, html {
	height: 100%;
	margin: 0;
}
.landing {
	background-image: url('images/landing-background.jpg');
	height: 100%;
	background-size: cover;
	background-position: 50%;
	padding: 50px 20px;

	.heading-container {
		text-align: center;
		color: white;
		padding: 30px;
		.profile-picture {
			height: 200px;
			width: 200px;
			background-image: url('images/headshot.jpg');
			border-radius: 50%;
			display: inline-block;
			background-size: cover;
			background-position: 50% 36%;
			margin-bottom: 30px;
		}
		header {
			display: inline-block;
			min-width: 30%;
			width: 300px;
			background-color: rgba(35, 35, 35, 0.54);
			padding: 20px;
		}
		h1 {
			margin: 0;
			font-weight: 200;
			margin-bottom: 30px;
		}
		.intro {
			font-size: 20px;
		}
	}
}