<main class="landing">
	<section class="heading-container">
		<header>
			<h1>Jordan Carroll</h1>
			<span class="profile-picture"></span>
			<p class="intro">
				Hi, I am Jordan Carroll, a passion driven full-stack developer. I am currently in the process of completing my website and apologize for any inconvenience this may cause you.
				<br>
				<br>
				Please shoot me an email if there is anything I can do to help you with. My contac information is listed below, as well as a short bio of myself.
			</p>
		</header>

	</section>
</main>