<div class="pure-g">
	<div class="content-heading pure-u-1">
		<h1>About Myself</h1>
		<img class="about-me-img" src="images/me.jpg">
		<p>"The starting point of all achievement is DESIRE. Keep this constantly in mind. Weak desire brings weak results, just as a small fire makes a small amount of heat." - Napoleon Hill</p>
	</div>
	<div class="content-body">
		<div class="pure-u-1">
			<h2>Who am I</h2>
			<p>Jordan Carroll - A Christian, passionate software developer, entrepreneur, personal finance and investing enthusiast, fitness connoisseur, and eternal knowledge seeker. <small>(Among other things)</small></p>
		</div>
		<div class="pure-u-1">
			<p>My life revolves around the constant struggle of mending my flaws, seeking wisdom, and working hard to acheive my goals.</p>
		</div>
	</div>
</div>