.app .menu {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;

    width: $menu-width - $accent-color-border-width;

    background: $background-color-primary;
    border-right: $accent-color-border-width solid darken($accent-color-1, 7%);
}

.app .menu > .pure-menu > .pure-menu-heading {
    font-weight: 100;
    color: #FFFFFF;
    cursor: pointer;
    background-color: $accent-color-1;
    transition: background-color 0.2s ease;

    &:hover {
        transition: background-color 0.2s ease;
        background-color: darken($accent-color-1, 7%);
    }
}

.app .menu > .pure-menu > .pure-menu-list > .pure-menu-item{
    border-right: 0 solid $background-color-primary;
    transition: border-right-width .2s ease;

    &:hover, .active {
        transition: border-right-width .2s ease;
        cursor: pointer;
        border-right-width: $accent-color-border-width;
        border-right-color: #eee;
    }

    &.active {
        transition: border-right-width .2s ease;
        cursor: pointer;
        border-right-width: $accent-color-border-width;
        border-right-color: #eee;
    }

    & > .pure-menu-link {
        background-color: $background-color-primary;
        color: #E2E2E2;
    }
}

