<nav class="menu">

	<a href="#menu" id="menuLink" class="menu-link"></a>

	<div class="pure-menu">
		<a class="pure-menu-heading" ui-sref="app.home">Jordan Carroll</a>

		<ul class="pure-menu-list">
			<li class="pure-menu-item" ui-sref-active="active">
				<a ui-sref="app.about" class="pure-menu-link">About Me</a>
			</li>
			<li class="pure-menu-item" ui-sref-active="active">
				<a class="pure-menu-link">Software Portfolio</a>
			</li>
			<li class="pure-menu-item" ui-sref-active="active">
				<a class="pure-menu-link">Finance</a>
			</li>
			<li class="pure-menu-item" ui-sref-active="active">
				<a class="pure-menu-link">Fitness</a>
			</li>
			<li class="pure-menu-item" ui-sref-active="active">
				<a ui-sref="app.contact" class="pure-menu-link">Contact</a>
			</li>
		</ul>

	</div>

</nav>