.social-banner {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1000;
	opacity: .4;
	transition: opacity .2s ease;

	&:hover {
		transition: opacity .2s ease;
		opacity: 1;
	}
	.pure-menu-link {
		width: 25px;
		text-align: center;
	}
}

.pure-menu-link.fa.fa-linkedin {
	background-color: #0077B5;
	color: white;
	transition: background-color .2s ease;
	&:hover {
		transition: background-color .2s ease;
		background-color: darken(#0077B5, 7%);
	}
}
.pure-menu-link.fa.fa-google-plus {
	background-color: #D34836;
	color: white;
	transition: background-color .2s ease;
	&:hover {
		transition: background-color .2s ease;
		background-color: darken(#D34836, 7%);
	}
}
.pure-menu-link.fa.fa-github {
	background-color: #333333;
	color: white;
	transition: background-color .2s ease;
	&:hover {
		transition: background-color .2s ease;
		background-color: darken(#333333, 7%);
	}
}
