<nav class="social-banner">
	<div class="pure-menu pure-menu-horizontal">
		<ul class="pure-menu-list">
			<li class="pure-menu-item">
				<a href="https://www.linkedin.com/in/jordanacarroll" class="pure-menu-link fa fa-linkedin"></a>
			</li>
			<li class="pure-menu-item">
				<a href="https://www.google.com/+JordanCarrollCS" class="pure-menu-link fa fa-google-plus"></a>
			</li>
			<li class="pure-menu-item">
				<a href="https://github.com/jcarroll2007" class="pure-menu-link fa fa-github"></a>
			</li>
		</ul>
	</div>
</nav>