<div class="pure-g">
	<div class="content-heading pure-u-1">
		<h1>Jordan Carroll</h1>
	</div>
	<div class="content-body">
		<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<div class="home-panel-icon">
				<i class="fa fa-user"></i>
			</div>
			<div class="panel">
				<div class="panel-body">
					<label>About Me</label>
					<p>Learn more about the big picture of who I am.</p>
					<button class="pure-button">Learn More</button>
				</div>
			</div>
		</div>
		<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<div class="home-panel-icon">
				<i class="fa fa-desktop"></i>
			</div>
			<div class="panel">
				<div class="panel-body">
					<label>Software Portfolio</label>
					<p>View my professional software portfolio.</p>
					<button class="pure-button">Learn More</button>
				</div>
			</div>
		</div>
		<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<div class="home-panel-icon">
				<i class="fa fa-dollar"></i>
			</div>
			<div class="panel">
				<div class="panel-body">
					<label>Finance</label>
					<p>Follow my journey to financial independence.</p>
					<button class="pure-button">Learn More</button>
				</div>
			</div>
		</div>
		<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
			<div class="home-panel-icon">
				<i class="fa fa-heartbeat"></i>
			</div>
			<div class="panel">
				<div class="panel-body">
					<label>Fitness</label>
					<p>See my obsession with physical fitness.</p>
					<button class="pure-button">Learn More</button>
				</div>
			</div>
		</div>
		<div class="pure-u-1">
			<div class="panel-2">
				<div class="panel-body">
					<label>Contact Me</label>
					<p>Feel free to contact me with any questions, comments, or concerns. I love sharing my knowledge and learning from others.</p>
					<button class="pure-button">Contact Me</button>
				</div>
			</div>
		</div>
	</div>
</div>